/* GENERAL */       

.test{
    border: 1px solid red;
}

.bt-cours{
    background-color: #f68b1e;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-top: 8px;
    padding: 6px 10px;
    border-radius: .4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    border: none;
}

.bt2-cours{
    background-color: #536dfe;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-top: 8px;
    padding: 6px 10px;
    border-radius: .4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    border: none;
    transition: .5s;
}

.bt3-cours{
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-top: 8px;
    padding: 6px 10px;
    border-radius: .4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    border: none;
    transition: .5s;
}

.bt3-cours:hover{
    background-color: #536dfe;
    background-position: left;
    transition: .5s;
}

.bt2-cours:hover{
    background-position: right;
    transition: .5s;
}

.link-cours{
    color: inherit;
}

.link-cours:hover{
    color: inherit;
    text-decoration: none;
}

/* SIDEBAR */ 

.bg-navbar-admin{
    background-color: #1b262c;
}

.sidebar-brand-text{
    font-size: .8rem;
}

.photo{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
}

.images{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* PROFIL PAGE */

.content{
    background-image: url("../img/undraw_access_account_99n5.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 60vh;
}

.require{
    color: red;
}

.input-profil, .select-profil{
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: #f8f9fc;
}

.input-profil:focus,
 .select-profil:focus{
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: #f8f9fc;
}

.input-parent{
    border: none;
    width: 100%;
}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-bien{
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.indication{
    margin-top: 1rem;
}

/* PAGE FORGOT PASSWORD */

.secondContent{
    background-image: url("../img/undraw_authentication_fsn5.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 60vh;
}

.bg-hg{
    background-color: #7fcd91;
}

.bg-francais{
    background-color: #be8abf;
}

.bg-philo{
    background-color: #f688bb;
}

.bg-anglais{
    background-color: #9de3d0;
}

.bg-allemand{
    background-color: #ff2e63;
}

.studentProfil{
    font-weight: bold;
    font-size: 2rem;
}


.contenu{
    display: grid;
    justify-content: center;
    align-items: center;
}



/* FORM */
/* 
.contentStudent{
    position: relative;
    width: 100%;
    padding: 0 .75rem;
    background-color: #fff;
} */